.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.password{
  border-radius: 0;
}
.fa {
  color:greenyellow;
}
body{
  background-color: #282c34;
}
#pass{
  border-width: 0;
}
#button{
  background-color: greenyellow;
}
#copybtn:hover{
  cursor: pointer;
  background-color: rgba(3, 5, 50, 0.693);
}
#strengthDiv{
  background-color: #000000;
}
.colorDiv{
  min-width: 20px;
  min-height: 40px;
  margin: 10px;
  background-color: aliceblue;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
